
.gameBanner{
    background-image: url(../images/horror-icon-banner.png);
    height: 250px;
    width: 100%;
}
h1{
        color: black;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;

}
.gameTitle{
    padding-top: 30px;
    color: white;
    
    font-family: 'Audiowide', cursive;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
}
body{
    background-color: black;
}
h2,
h4{
    color: white;
    font-family:  'Audiowide', cursive;
}
#correctAnswer{
    text-align: center;
    padding: 20px;
}
#guessed,
#remainingGuesses,
#underscore{
    font-size: 36px;
    color: rgb(250, 91, 91);
}
